@import url(https://fonts.googleapis.com/css?family=Arimo|Merriweather);
$color-primary:#63B699;
$color-primary-dark:#719B8C;
$color-primary-light:#B1DBCC;
$color-secondary:#9963B6;
$color-secondary-dark:#4D325B;
$color-secondary-light:#CCB1DB;
$color-tertiary:#B69963;
$color-tertiary-dark:#5B4D32;
$color-tertiary-light:#DBCCB1;
$color-grey-light-1: #F9F7F6;
$color-grey-light-2: #bbbbbb;
$color-grey-dark-1: #544843;
$color-grey-dark-2: #605048;
$color-white: #FFF;
$color-black: #000;
$font-primary: 'Arimo',
sans-serif;
$font-secondary: 'Merriweather',
sans-serif;